---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar';
import Hero from '@components/Hero';
import TrustedBy from '@components/TrustedBy';
import HowItWorks from '@components/HowItWorks';
import Integrations from '@components/Integrations';
import Security from '@components/Security';
import Contact from '@components/Contact';
import Footer from '@components/Footer';
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero client:load />
    <TrustedBy client:visible />
    <HowItWorks client:visible />
    <Integrations client:visible />
    <Security client:visible />
    <Contact client:load />
  </main>
  <Footer />
</Layout>
